@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

*{
  font-family: 'Poor Story', cursive;
}

body {
  background-color: antiquewhite;
}

h1{
  margin-top: 30px;
  margin-left: 50px;
  font-size: 70px;
}

.home{
  font-size: 30px;
  text-align: right;
  border-bottom: 1px solid gray;
  padding-right: 50px;
  padding-bottom: 10px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: auto;
  border-radius: 50%;
  overflow: hidden;
}

.btn-1{
  background-color: lightcoral;

}

.btn-2 {
  background-color: mediumorchid;
}

.btn-3{
  background-color:aquamarine;
}

.btn-group button{
  color:black;
  position:relative;
  height: 18vh;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  border: none;
  border-radius: 50%;
  align-content: center;
  margin: 30px;

}

.btn-group button:hover{
  background-color: white;
  border: 1px solid black;
}

.contents{
  font-size: 20px;
  text-align: center;
}

#profile{
  font-size: 50px;
}

#interest{
  font-size: 50px;
}

#contact{
  font-size: 50px;
}

.brother-img {
  width: 500px;
}

.drama-img{
  width: 500px;
}

.soeun-img{
  width: 500px;
}